/* Dark mode */
body.dark {
    color: rgb(255, 245, 236);
    background-color: #292c35;
}

/* Bouton pour dark mode */
.checkbox-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
}

.checkbox-container:hover {
    opacity: 1;
}

.checkbox {
    opacity: 0;
    position: absolute;
  }
  
.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}
/* ------------- */

/* Section footer */

footer {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer .footer-category {
    padding-top: .5rem;
}

.footer-head {
    font-weight: 700;
    font-size: 1.2rem;
}

.footer-sub-item {
    padding-top: .15rem;
}

footer .copyright {
    margin-top: 1rem;
    padding-bottom: 1rem;
}


/* Mobile first */
@media all and (min-width: 640px) {

    /* Section footer */

    footer {
        text-align: unset;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
        row-gap: 1rem;
    }
}

@media all and (min-width: 768px) {

    /* Section footer */

    .container {
        display: flex;
    }
    
}

@media all and (min-width: 1024px) {

    /* Section footer */

    .container {
        width: inherit;
        max-width: 1200px;
        justify-content: space-around;
    }
    
}

@media all and (min-width: 1280px) {

    /* Section footer */


    
}

@media all and (min-width: 1536px) {

    /* Section footer */

    
    
}

/* Non-mobile first */
/*
@media all and (max-width: 1536px) {
    
}

@media all and (max-width: 1280px) {
    
}

@media all and (max-width: 1024px) {
    
}

@media all and (max-width: 768px) {
    
}

@media all and (max-width: 640px) {

}

*/