body{
    overflow-x: hidden;
}

/* Dark mode */
body.dark {
    color: rgb(255, 245, 236);
    background-color: #292c35;
}

body.dark footer a::after {
    background: rgb(255, 245, 236);
}

/* Header */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{    
    width: 100vw;
    /* height: 100vw; */
    display: flex;
    /* background-image:url("./img/pexels-wildlittlethingsphoto-3114143.webp"); */
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction:column;
    align-items: flex-end;
}

.mobile{
    display: flex;
    width: 100%;
    height:100%;
    align-items: center;
    justify-content: space-evenly;
    height:4rem;
    background-color: white;
    color: #111!important;
}
.logo{
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:1;
}
.logo .fa-solid{
    font-size: 25px;
    color:rgb(48, 176, 48);
    margin-right: 15px;
}

.logo p{
    font-size:35px;
    font-family:"montserrat", sans-serif;
    font-weight:bold;
    margin-bottom: 0;
}

#menu{
    width:30px;
    height:24px;
    display:flex;
    flex-direction: column;
    justify-content: space-between; /* pour separer les traits du burger*/
    z-index:1;
    
}

#menu div{
    height:3px;
    background-color: grey;
    border-radius: 3px;
}


header ul{
    flex-direction:column;
    justify-content: center;
    height:auto;
    background-color:white;
    width:50%;
    position:absolute;
    right:-165px;
    top: 65px;
    padding-left: 0!important;  
    
        
}
header ul li {
    display:flex;
    font-family:"monserrat", sans-serif ;
    padding: 5px;
    text-align:center;
    justify-content: center;
    
}
header ul li a{
    text-decoration: none!important;
}

.retrait{
    right:0px;
}



h1{
    margin: 2em 0 2em 0;
}
footer li, footer ul{
    padding-left: 0!important;
}

.myClass{
    /*opacity: 0;
    width: 0;
    height: 0;*/
    display: none;
}

.gridDiv{
    display: grid !important;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}


/* Bouton pour dark mode */
.checkbox-container {
    position: absolute;
    top: 5rem;
    left: 1rem;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    position: fixed;

}

.checkbox-container:hover {
    opacity: 1;
}

.checkbox {
    opacity: 0;
    position: absolute;
  }
  
.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}
/* ------------- */

/* Section footer */

footer {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer .footer-category {
    padding-top: .5rem;
}

.footer-head {
    font-weight: 700;
    font-size: 1.2rem;
    cursor: default;
}

.footer-sub-item {
    padding-top: .15rem;
    padding-left: 1.5rem;
}

footer .copyright {
    margin-top: 1rem;
    padding-bottom: 1rem;
}

footer a {
    color: inherit;
    display: inline-block;
    padding: 5px 0;
    position: relative;
}

footer a::after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

footer a:hover::after { 
    width: 100%; 
    left: 0;   
}
.card img{
    max-height: 285px;
    object-fit: scale-down;
    padding-top: 1.5em;
    
}
/* .galery{
    padding: 0 6em;
} */

.btn{
    padding: 0.2em 1em;
    box-shadow: 2px 2px 5px white;
    font-size: 1.2em;
}

/* Mobile first */
@media all and (min-width: 640px) {
    /* Section footer */
    .gridDiv{
        display: flex !important;
    }
    header ul{
        display: none;
    }
    
    
    footer {
        text-align: unset;
    }
    .footer-sub-item{
padding-left: 1.5rem!important;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
        row-gap: 1rem;
    }    
}

@media all and (min-width: 768px) {

    /* Section footer */

    .container {
        display: flex;
    }
    
}

@media all and (min-width: 1024px) {

    /* Section footer */

    .container {
        width: inherit;
        max-width: 1200px;
        justify-content: space-around;
    }
    
}

@media all and (min-width: 1280px) {

    /* Section footer */


    
}

@media all and (min-width: 1536px) {

    /* Section footer */

    
    
}

/* Non-mobile first */
/*
@media all and (max-width: 1536px) {
    
}

@media all and (max-width: 1280px) {
    
}

@media all and (max-width: 1024px) {
    
}

@media all and (max-width: 768px) {
    
}

@media all and (max-width: 640px) {

}

*/